<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>method</key>
  <string>app-store</string>
  <key>teamID</key>
  <string>B6XGXJ6JZL</string> <!-- Replace with your actual team ID -->
  <key>provisioningProfiles</key>
  <dict>
    <key>com.example.rideTideStride</key> <!-- Replace with your actual bundle identifier -->
    <string>RideTideStride ios_app_store 1718997035</string> <!-- Replace with your actual provisioning profile name -->
  </dict>
  <key>signingStyle</key>
  <string>automatic</string>
  <key>uploadSymbols</key>
  <true/>
  <key>compileBitcode</key>
  <true/>
</dict>
</plist>

