<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBy7zwq4H2I7BT_sgfxzTdF0gx3TRcdWv0</string>
	<key>GCM_SENDER_ID</key>
	<string>816075419527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rideTideStride</string>
	<key>PROJECT_ID</key>
	<string>ride-tide-stride</string>
	<key>STORAGE_BUCKET</key>
	<string>ride-tide-stride.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816075419527:ios:9e896c9e2de3b6ba10ed22</string>
</dict>
</plist>